/* app css stylesheet */

/* variables */
:root {
  --bg-color-1: #f4f4f4;
  --bg-color-2: #003594;
  --main-font-color: #ffffff;
  --accent-color: #FFB81C;
  --hover-color: #cccccc;
  --box-width: 30%;
  --showcase-font: #ffffff;
  --showcase-picture: url('img/newpittlogo.jpg');
}

/* Globals */
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: var(--bg-color-1);
}

.button_1 {
  height: 38px;
  background: var(--accent-color);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--main-font-color);
}


.dark {
  padding: 15px;
  background: var(--bg-color-2);
  color: var(--main-font-color);
  margin-top: 10px;
  margin-bottom: 10px;
}


.container {
  width:80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin:0;
  padding:0;
}

/* Header */
header {
  background: var(--bg-color-2);
  color: var(--main-font-color);
  padding-top:30px;
  min-height:70px;
  border-bottom: var(--accent-color) 3px solid;
}

header a {
  color: var(--main-font-color);
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #name {
  float: left;
}

header #name h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current {
  color: var(--accent-color);
  font-weight:bold;
}

header a:hover {
  color: var(--hover-color);
  font-weight: bold;
}


/* Show case */
#showcase {
  min-height: 400px;
  background: var(--showcase-picture);
  background-size: cover;
  text-align: center;
  color: var(--showcase-font);
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  color: var(--showcase-font);
}

#showcase p {
  font-size: 20px;
  color: var(--showcase-font);
}


/* Contact me */
#contact-me {
  padding: 15px;
  color: var(--main-font-color);
  background: var(--bg-color-2);
}

#contact-me h1 {
  float: left;
}

#contact-me form {
  float: right;
  margin-top: 15px;
}

#contact-me input[type="email"]{
  padding: 4px;
  height: 25px;
  width:250px;
}

#contact-me select {
  padding: 4px;
  height: 38px;
  width: 200px;
}

/* boxes */
#boxes {
  margin-top: 20px;
}

.box {
  float: left;
  text-align: center;
  width: var(--box-width);
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

/* side bars */
#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside h1 {
  margin-bottom: 5px;
}

aside h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

aside p {
  margin-top: 5px;
  margin-bottom: 5px;
}

aside ul {
  margin-top: 0px;
  padding: 0 0 0 20px;
}

aside a:active {
  color: var(--accent-color);
}

aside a:visited {
  color: var(--accent-color);
}

aside a:link {
  color: var(--accent-color);
}

aside a:hover {
  color: var(--hover-color);
}

/* articles */
#main-col {
  float: left;
  width: 65%;
}

article ul {
    padding: 0 0 0 20px;
}


footer {
  padding: 20px;
  margin-top: 20px;
  background: var(--accent-color);
  color: var(--main-font-color);
  text-align: center;
}
